
#bag{
    width:200px;
    height:500px;
    margin: 0 auto;
    background: url(images/bag.png) center no-repeat;
    background-size: 80%;
}
#bag.burst{
    background: url(images/bag-burst.png) center no-repeat;
    background-size: 80%;
}

#bag-health{
    width:200px;
    border: 2px solid black;
    margin:0 auto 20px auto;
}

#bag-health div{
    height: 20px;
    background: crimson;
}

#controls{
    width: 120px;
    margin: 0 auto;
}
/* body{
    background:blue
} */

button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  button:hover {
    background-color: #4CAF50;
    color: white;
  }
  .punchb{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
.punchb:hover {
    background-color: red;
    color: white;
  }